Using Crontab to automate and schedule a script.

Step 1: Optional- choose your editor. 

export EDITOR=nano; crontab -e

Step 2: Write your cron command using :

https://crontab.guru/  and choose the time 

* * * * 1 /bin/sh /home/vagrant/backup.sh >/dev/null 2>&1 ; [ $? == 0 ] && /bin/php sendmail.php

save and exit.

Step 3: Check for errors and if command is working 

You’ll get an error in the file var/mail/$USERNAME. 


